<h1>All boulders</h1>
<% @boulders.each do |boulder| %>
  <h2><%= link_to boulder.name, boulder_path(boulder) %></h2>
  <p><%= boulder.grade %></p>
  <p>m<%= boulder.position_min %>s<%= boulder.position_sec %></p>
  <%=get_video_iframe(boulder) %>
<% end %>



